<a href="https://colab.research.google.com/github/GaybsGimenez/python.Standard-library/blob/main/Modulo4_arquivos_e_fun%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Overwriting banco.csv

In [ ]:
with open(file='/content/banco.csv', mode='r', encoding='utf8') as arquivo:
  conteudo = arquivo.read()

print(conteudo)

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

In [ ]:
conteudo = []

with open(file='/content/banco.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.readline()
  while linha:
    conteudo.append(linha)
    linha = arquivo.readline()

print(conteudo)

['age,job,marital,education,default,balance,housing,loan\n', '30,unemployed,married,primary,no,1787,no,no\n', '33,services,married,secondary,no,4789,yes,yes\n', '35,management,single,tertiary,no,1350,yes,no\n', '30,management,married,tertiary,no,1476,yes,yes\n', '59,blue-collar,married,secondary,no,0,yes,no\n', '35,management,single,tertiary,no,747,no,no\n', '36,self-employed,married,tertiary,no,307,yes,no\n', '39,technician,married,secondary,no,147,yes,no\n', '41,entrepreneur,married,tertiary,no,221,yes,no\n', '43,services,married,primary,no,-88,yes,yes']

In [ ]:
for linha in conteudo:
  print(linha)

age,job,marital,education,default,balance,housing,loan

30,unemployed,married,primary,no,1787,no,no

33,services,married,secondary,no,4789,yes,yes

35,management,single,tertiary,no,1350,yes,no

30,management,married,tertiary,no,1476,yes,yes

59,blue-collar,married,secondary,no,0,yes,no

35,management,single,tertiary,no,747,no,no

36,self-employed,married,tertiary,no,307,yes,no

39,technician,married,secondary,no,147,yes,no

41,entrepreneur,married,tertiary,no,221,yes,no

43,services,married,primary,no,-88,yes,yes

In [ ]:
idades = []

with open(file='/content/banco.csv', mode='r', encoding='utf8') as arquivo_banco: 
  linha = arquivo_banco.readline()
  linha = arquivo_banco.readline()
  while linha:
      linha_separada = linha.split(sep=',')
      idade = linha_separada[0]
      idade = int(idade)
      idades.append(idade)
      linha = arquivo_banco.readline()

print(idades)

[30, 33, 35, 30, 59, 35, 36, 39, 41, 43]

Modulo w: modulo de escrita de informação em arquivos

MÉTODO WRITE: Permite escrever linha a linha, assim como o readline() serivia para ler linha a linha

In [ ]:
with open(file='idade.csv', mode='w', encoding='utf8') as fp:
  linha = 'idade' + '\n' #cabeçalho
  fp.write(linha)
  for idade in idades:
    linha = str(idade) + '\n' #converter os int em str, pq só da pra trabalhar com str() em tabelas
    fp.write(linha)

MÉTODO APEND(A) - de acrescimo dentro da tabela

In [ ]:
with open(file='idade.csv', mode='a', encoding='utf8') as fp:
  for idade in idades:
    linha = str(idade + 100) + '\n'
    fp.write(linha)

ARQUIVO .TXT

In [ ]:
%%writefile banco-texto.txt
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Overwriting banco-texto.txt

TRANSFORMAR ARQUIVO .TXT EM ARQUIVO CSV

In [ ]:
with open(file='/content/banco-texto.txt', mode ='r', encoding='utf8') as original:
  with open(file='./banco-csv.csv', mode='w', encoding='utf8') as copia:
    linha = original.readline()
    while linha:
      copia.write(linha)
      linha = original.readline()

FUNÇÕES

In [ ]:
valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}' )

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10

valor_final = valor_inicial
for ano in range(1, anos+1):
  valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(f'Para um valor inicial de R$ {valor_inicial} e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}')

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de 0.05, em 10 anos você terá R$ 1628.89
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de 0.03, em 10 anos você terá R$ 1370.79

FUNÇÃO: Bloco de notas que só é executado quando chamado

* SINTAXE



```
# def <nome>(parametro, parametro, ...): 
    bloco de código
    return <valor de retorno>


var = <nome>(parametro, parametro>

```

# EXEMPLO

```
def soma(a,b):
  print(a+b)

soma(1, 4) 
>>> 5 


```

In [ ]:
def imprime(mensagem: str):
  print(mensagem)

texto = 'Fala pessoal meu nome é Gabriela Gimenez'

imprime(mensagem=texto)

Fala pessoal meu nome é Gabriela Gimenez

In [ ]:
def maiusculo(texto: str):
  text_maiusculo = texto.upper() # pega os elementos e transforma em maiusculo
  return text_maiusculo

text_maiusculo = maiusculo(texto)
print(text_maiusculo)

FALA PESSOAL MEU NOME É GABRIELA GIMENEZ

In [ ]:
nome = 'Gabriela Gimenez Azevedo'
print(nome)

nome_maiusculo = maiusculo(texto=nome)
print(nome_maiusculo)

Gabriela Gimenez Azevedo
GABRIELA GIMENEZ AZEVEDO

In [ ]:
def extr_user_email_prov(email):
  email_separado = email.split(sep='@')
  usuario = email_separado[0]
  provedor = email_separado[1]
  return usuario, provedor

ESTUDO SOBRE FUNÇÕES: LIVRO
para definir uma função usar o def()

Funções são especialmente interessantes para isolar uma tarefa específica em um trecho de programação e chamá-la quando necessária. Sem precisar repetir o mesmo trecho de código. 


```
def soma(a,b):
  return a + b
print(soma(2,9))
```

return: para indicar o valor a retornar

In [ ]:
def soma(a,b):
  return a + b
print(soma(2,9))

11

In [ ]:
def soma(a,b):
  print(a+b)

soma(2, 9)

11

Função para retornar Verdadeiro ou Falso dependendo se o numero é par ou impar

In [ ]:
def par(x):
  return(x % 2 == 0)

print(par(2))
print(par(3))
print(par(10))

True
False
True

In [ ]:
def epar(x):
    return x % 2 == 0
def par_ou_impar(x):
    if epar(x):
      return 'numero par'
    else:
      return 'numero impar'

print(par_ou_impar(3))
print(par_ou_impar(10))

numero impar
numero par

#EXERCÍCIO LIVRO P. 160

In [ ]:
# escreva uma função que retorne o maior de dois números

def n_maior(x,y):   
    
    if x > y:
      return x
    else:
      return y

print(n_maior(2,4))
print(n_maior(5,2))

4
5

In [ ]:
# escreva uma função que receba dois numeros e retorne TRUE se o primeiro numero for multiplo do segundo

def multipl(a,b):
    return (b % 2 == 0)

print(multipl(8, 4))
print(multipl(7, 3))

True
False

In [ ]:
#escreva uma função que receba o lado de um quadrado e retonre sua área 

def area_quadrado(l):
    return  l ** 2
    
print(area_quadrado(4))
print(area_quadrado(9))

16
81

In [ ]:
# escreva uma função que receba a base e a altura de um triangulo e retorne sua área A = (BASE X ALTURA)/2

def area_triangulo(b,h):
    return (b * h)/2


print(area_triangulo(6,9))
print(area_triangulo(5,8))

27.0
20.0

In [ ]:
# pesquisa em uma lista

def pesquise(lista, valor):
  for x, e in enumerate(lista):
    if e == valor:
      return x
  return None 

lista = [ 10, 20, 25, 30]

print(pesquise(lista, 25))
print(pesquise(lista,27))

2
None

In [ ]:
def soma(l):
  total = 0 
  for e in l:
    total += e
  return total
def media(l):
  return soma(l) / len(l)

In [ ]:
l = [1,7,2,9,15]

def soma(l):
  total = 0
  x = 0
  while x < 5:
    total += l[x]
    x += 1
  return total 

print(soma(l))
print(soma[7,9,12,3,100,20,4])

34

TypeError: ignored

In [ ]:
#calculo fatorial 3: 3x2x1=6
def fatorial(n):
  fat = 1 
  while n>1:
    fat *= n
    n -= 1
  return fat

In [ ]:
#VARIÁVEL LOCAL
empresa = 'UNIDOS VENCEREMOS LTDA'

def imprime_cabecalho():
  print(empresa)
  print('-' * len(empresa))

In [ ]:
a = 5 

def muda_imprime():
  a = 7 
  print(f'A dentro da função: {a}')
print(f'a antes de mudar: {a}')
muda_imprime()
print(f'a depois de mudar: {a}')

MODIFICAR VARIAVEL GLOBAL DENTRO DA FUNÇÃO: devemos informar que estamos usando uma variavael global

In [ ]:
a = 5 

def muda_imprime():
  global a #falar qual é variavel global acarreta em mudar a variavel mesmo quando acaba a função
  a = 7 
  print(f'A dentro da função: {a}')
print(f'a antes de mudar: {a}')
muda_imprime()
print(f'a depois de mudar: {a}')

#funções recursivas: funções que podem chamar a si mesmas

In [ ]:
#função rescursiva do fatorial

def fatorial(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n*fatorial(n-1)

print(fatorial(4))
print(fatorial(0))

24
1

In [ ]:
# função modificada para facilitar o rastramento 

def fatorial(n):
  print(f'calculando o fatorual de {n}')
  if n == 0 or n == 1:
    print(f'fatorial de {n} = 1')
    return 1
  else: 
    fat = n*fatorial(n-1)
    print(f'fatorial de {n} é {fat}')
  return fat
fatorial(4)

calculando o fatorual de 4
calculando o fatorual de 3
calculando o fatorual de 2
calculando o fatorual de 1
fatorial de 1 = 1
fatorial de 2 é 2
fatorial de 3 é 6
fatorial de 4 é 24

24

In [ ]:
#enesimo termo da sequencia de fibonacci

def fibonacci(n):
  if n <= 1:
    return n
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(5))

5

In [ ]:
#defina uma função recursiva que calcule o maior divisor coum entre dois numeros a e b a>b. 

def mdc(n, m):
 dividendo, divisor, resto = n, m, n % m
 while resto != 0:
  dividendo, divisor, resto = divisor, resto, divisor % resto
 return divisor

print(mdc(9,12))

3

Função validação: servem para validar a entrada de dados
o código para lr um valor inteiro, limitado, por um avalor mínimo e máximo, esse trecho repete a entrada de dados até termos um valor válido

In [ ]:
#validação em usar função

while True:
  v=int(input('digite um valor entre 0 e 5: '))
  if v < 0 or v > 5:
    print('valor inválido')
  else:
    break

digite um valor entre 0 e 5: 3

In [ ]:
#validação de inteiro usadno função

def faixa_inteiro(pergunta, minimo, maximo):
  while True:
    v=int(input(pergunta))
    if v < minimo or v > maximo:
      print(f'valor invalido, digite um numero entre {minimo} e {maximo}')
    else:
      return v

In [ ]:
def soma(a,b):
  return a + b

print(soma(2,2))

4

#funções lambdas: funções simples, sem nome


```
#programa lambda que recebe um valor e retorna o dobro dele

a = lambda x: x*2
print(a(3))


```

In [ ]:
#programa lambda que recebe um valor e retorna o dobro dele

a = lambda x: x*2
print(a(3))

6